.App {
  justify-content: center;
  height: 100vh;
}


.App__input-amount{
  border: 0ch;
  font-size: 5rem;
  width: 14rem;
  max-width: auto;
  text-align: center;
  margin-left: 0.5rem;
  background-color: aliceblue;
}

.App__button{
  margin-top: 2rem;
  width: 14rem;
  height: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: rgb(89, 184, 252);
}

.App__card{
  margin-top: 3rem;

}

.App__card-text{
  font-size: 1.5rem;
}

.App__card-item{
  font-size: 5rem;
  text-align: center;
  border: 2px solid rgb(38, 141, 225);
  width: 20rem;
  margin: 1rem; 
}

.App__card-item-amount{
  font-size: 5rem;
  border: 2px solid rgb(107, 204, 4);
  border-radius: 10px;
  width: auto;
  height: 8rem;
  margin: 1rem;
  padding: 1rem;
}

.App__content-amount{
  display: flex;
  align-items: center;
  background-color:rgb(131, 124, 124) ;
}


.App__content-amount-button{
  margin-left: 3rem;
}

.App__button-more,.App__button-less{
  margin:0.5rem;
  padding: 0.5rem;
}

.App__card-item-amount,.App__card,.App,.App__content-amount-button{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App__card-item-amount:hover,.App__input-amount,.App__button{ 
  cursor: pointer;
}


